#container {
    //background-image: url("../img/ucla/atkinson-01.00385-moore-hall.jpg");
    position:absolute
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#whiteBox {
    opacity:0.9;
    border-radius: 10px;
}

#pageTitle {
    opacity: 0.8;
    text-align: center;
    color: hsl(210, 60%, 50%);
    font-size: 30px;
    font-weight:bold;
}

#occupationPlotter {
    position: absolute;
}

#hoverOccupationTitle {
    padding: 0.5em;
    border-radius: 2px;
    border-color: hsl(210, 60%, 30%);
    background-color: hsl(210, 60%, 60%);
    position: absolute;
}

.hidden {
    display: none;
}

.scrollable {
    margin-left: 1em;
    padding: 0 0.5em;
    border-radius: 6px;
    background-color: #cfd6dd;
    box-shadow: inset 0 0 4px #EEEEEE;
    max-height: 6em;
    height: auto;
    overflow: auto;
    opacity: 0.8;
}

.heading {
    color: #333333;
    font-size: 20px;
}

.noneText {
    color: #555555;
    font-size: 16px;
}

.careerLink {
    font-size: 14px;
}

.centered {
    text-align: center;
}