.titleText {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.normalText {
    color: #444444;
    font-size: 14px;
    text-align: center;
}

#passwordResetForm {
	text-align: center;
        margin: 1em;
}

#passwordResetTextField {
    margin: 1em;
}

#passwordResetButton {
    margin: 1em;
}
