.iconSegment {
	margin-top: 1em;
        margin-bottom: 1em;
	text-align: center;
}

.icon {
	transition: color 0.125s;
}

.icon:hover {
	cursor: pointer;
}

/* have to include #video, etc. also because of <a> styling */
#video {
	color: hsl(0, 60%, 50%);
}

#videoSegment {
	color: hsl(0, 60%, 50%);
}

#videoSegment .icon:hover {
	color: hsl(0, 60%, 60%);
}

#videoSegment .icon:active {
	color: hsl(0, 60%, 70%);
}

#salary {
	color: hsl(145, 60%, 50%);
}

#salarySegment {
	color: hsl(145, 60%, 50%);
}

#salarySegment .icon:hover {
	color: hsl(145, 60%, 60%);
}

#salarySegment .icon:active {
	color: hsl(145, 60%, 70%);
}

#education {
	color: hsl(210, 60%, 50%);
}

#educationSegment {
	color: hsl(210, 60%, 50%);
}

#educationSegment .icon:hover {
	color: hsl(210, 60%, 60%);
}

#educationSegment .icon:active {
	color: hsl(210, 60%, 70%);
}

#skills {
	color: hsl(25, 60%, 50%);
}

#skillsSegment {
	color: hsl(25, 60%, 50%);
}

#skillsSegment .icon:hover {
	color: hsl(25, 60%, 60%);
}

#skillsSegment .icon:active {
	color: hsl(25, 60%, 70%);
}

#careerOutlook {
	color: hsl(45, 60%, 50%);
}

#careerOutlookSegment {
	color: hsl(45, 60%, 50%);
}

#careerOutlookSegment .icon:hover {
	color: hsl(45, 60%, 60%);
}

#careerOutlookSegment .icon:active {
	color: hsl(45, 60%, 70%);
}

#worldOfWork {
	color: hsl(260, 60%, 50%);
}

#worldOfWorkSegment {
	color: hsl(260, 60%, 50%);
}

#worldOfWorkSegment .icon:hover {
	color: hsl(260, 60%, 60%);
}

#worldOfWorkSegment .icon:active {
	color: hsl(260, 60%, 70%);
}

.dialog {
	display: none;
	z-index: 1;
	position: absolute;
        left: -15em;
        width: 15em;
	padding: 1em;
	background-color: hsl(210, 60%, 60%);
	opacity: 0.98;
	filter: alpha(opacity=98);
	text-align: center;
}

#skillsArray {
	display: none;
}