#pageTitle {
	text-align: center;
	color: hsl(210, 60%, 50%);
	font-size: 30px;
}

#careerTitle {
	text-align: center;
	color: hsl(210, 60%, 50%);
	font-size: 20px;
}


#container{
    display:inline-block;
    width:auto; 
    height:auto;
    margin: 0 auto; 
    background: pink; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#canvas{
    position:relative;
    z-index:20;
}

#interestsTableDiv {
    display: none;
}

