.titleText {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.careerVideos {
  color: #444444;
  font-size: 16px;
  text-align: center;
}
.socCode {
  font-size: 12px;
}
.uploadTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
}
.deleteTable {
  width: 100%;
}
.questionRow{
  background-color: rgb(240,240,240);
}
.questionRow:hover td{
  background-color: rgb(220,220,220);
}
.questionRow > td{
  padding: 0px 5px;
}
.rowToDelete {
  background-color: rgb(240,200,200);
}
.rowToDelete:hover td{
  background-color: rgb(240,200,200);
}
.questionText {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
}
.questionCell {
}
.videoCell {
  width: 25%;
  font-size: 8px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}
.uploadCell {
  width: 2em;
}
.deleteCell {
  width: 2em;
}
.dragCell {
  width: 2em;
}
.draggedRow {
  visibility:hidden;
}

input[type=file]{
  display: none;
}
