.titleText {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.careerVideos {
  color: #444444;
  font-size: 16px;
  text-align: center;
}
.socCode {
  font-size: 12px;
}
.headerTable{
  width: 100%;
  text-align: right;
}
.cellspan {
  display: table-cell;
}
.addPersonCell {
  width: 50%;
  text-align: left;
}
.addPersonText {
  width: 100%;
}
.addPersonButton {
}
.submitAllCell {
  width: 50%;
}
.orderCell{
  width: 1px;
  white-space: nowrap;
}

.personTable, .unpersonTable {
  width: 100%;
}
.uploadTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

.questionRow{
  background-color: rgb(240,240,240);
}
.questionRow:hover td{
  background-color: rgb(220,220,220);
}
.questionRow > td{
  padding: 0px 5px;
}
.rowToDelete {
  background-color: rgb(240,200,200);
}
.rowToDelete:hover td{
  background-color: rgb(240,200,200);
}
.questionText {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
}
.fileNameChange {
  width: 100%;
}
.questionCell {
}
.fileNameTypeCell {
  padding-left: 1em;
}
.videoCell {
  font-size: 8px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}
.uploadCell {
  width: 2em;
}

.deleteTable {
  width: 100%;
}
.deleteCell {
  width: 2em;
}

.dragCell {
  width: 2em;
}
.draggedRow {
  visibility:hidden;
}

.controlsTable {
  text-align: left;
  width: 100%;
}
.questionAddCell {
  font-size: 12px;
  padding-left: 1em;
  text-align: left;
}
.submitCell {
  padding-right: 2em;
  text-align: right;
}

input[type=file]{
  display: none;
}
