			<div id="fader"></div>

			
			<div id="navibar">
                          <div class="container-fluid">
                            <div class="row row-eq-height">
                              <div class="col-md-3">
					        	<a href="/"><img id="logo" src="/images/p3logo.png"> <span class="logo">Passionate People Project </span> </a>
                              </div>

			      <div id="mainButtons" class="col-md-6">
				<a href="/">
				  <div id="home" class="navibutton">
				    Home
					</div>
				</a>
				<a href="/profile">
				  <div id="myProfile" class="navibutton">
				    My Profile
				  </div>
				</a>
                                <a href="/browse">
				  <div id="browse" class="navibutton">
				    Browse
				  </div>
				</a>
                                <form id="searchBarForm" class="form-inline" action="/search" method="get" role="form">
                                  <div class="input-group">
                                    <input id="searchBar" class="form-control" type="text" name="q" placeholder="Search careers...">
                                    <span class="input-group-btn">
                                      <button id="searchButton" class="btn btn-secondary" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                      </button>
                                    </span>
                                  </div>
                                </form>

                                <div class="navibutton">
                                  <a href="/donors">
                                    Donors
                                  </a>
                                </div>
			      </div>

                              <div id="signUpLoginColumn" class="col-md-3">
			        <form action="/logout" method="post">
				  <input id="logout" class="navibutton" type="submit" value="Logout"/>
				</form>
                              </div>
                            </div>
                          </div>
                          <div id="PASSION"> <a href="#"  id="passionWord">PASSION (n.) </a><span id="passionDef">: the energizing love you have for your work, in which you are thoroughly absorbed and find deeply meaningful</span> </div>
			</div>
