#browseContainer {
    //position: fixed;
    //background-image: url("../../img/ucla/STUDENT_EVENT_086_hi.JPG");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    flex: 1 1 auto;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#backgroundBox {
    position:absolute;
    background-image: url("../../img/ucla/STUDENT_EVENT_086_hi.JPG");
    //background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#browseBox {
    opacity: 0.9;
    border-radius:15px;
    position:relative;
}

a.accordionHeading {
    color: black;
}

#pageTitle {
    	text-align: center;
	color: hsl(210, 60%, 50%);
	font-size: 30px;
}

.majorSection {
	text-align: left;
	font-size: 20px;
	padding-left: 2em;
	background-color: #FCFCFC;
	border-radius:15px;
}

.minorSection {
	text-align: left;
	font-size: 18px;
	padding-left: 2em;
	background-color: #F8F8F8;
	border-radius:15px;
}

.broadSection {
	text-align: left;
	font-size: 16px;
	padding-left: 2em;
	background-color: #F4F4F4;
	border-radius:15px;
}

.detailedSection {
	text-align: left;
	padding-left: 2em;
	background-color: #F0F0F0;
	border-radius:15px;
}

a.detailedOccupationLink {
	color: blue;
	font-size: 14px;
}

a.detailedOccupationLink:visited {
    color: purple;
}

.heading {
    background-color: transparent;
}

#browse-search {
    width: 100%;
}

#search-filters{
  color: black;
}
