<!DOCTYPE HTML>
<html>
  <head>
    {{> global_header }}
    <link type="text/css" rel="stylesheet" href="/static/donors.css">
    <title>
      PPP
    </title>
  </head>
  <body>
    {{> navbar}}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="box">
            <p class="titleText">
              Thanks to our donors!
            </p>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <p class="normalText">
                    None yet!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
