<html><body>
<p>Hi {{firstName}} {{lastName}},</p>

<p>You requested to reset your password. Please go to the following link to create a new password:</p>

<p><a href="{{passwordResetLink}}">{{passwordResetLink}}</a></p>

<p>If you didn't request a password reset, please ignore this email.</p>

<p>Thanks,</p>

<p>The Passionate People Project Team</p>
</body></html>